<div class="row header-1">
  <h3>Lista de Tareas</h3>
</div>

<div>
  <mat-list>
    <mat-list-item
      class="row header-1"
      *ngFor="let task of _tasks"
      [ngClass]="{ striked: task.done }"
    >
      <mat-card class="nopad">
        <mat-card-content>
          <div class="row">
            <div class="col-md-1 vcentered">
              <button
                mat-icon-button
                class="secondary"
                (click)="deleteTask(task.id)"
              >
                <mat-icon aria-label="Delete">delete_outline</mat-icon>
              </button>
              <mat-checkbox
                [checked]="task.done"
                (change)="swapTaskState(task)"
              ></mat-checkbox>
            </div>
            <div class="col-md-11 vcentered">{{ task.title }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
