.input-row {
  margin-top: 25px;
}

.fullwidth {
  min-width: 100%;
}

.mat-flat-button {
  margin-top: 5px;
}

.mat-card-content {
  margin: 0px;
}

p.accent {
  color: rgb(245, 124, 0) !important;
  padding-left: 7px;
}
